@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #111827;
}

.link-grow {
  position: relative;
}

.link-grow:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link-grow:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button-grow {
  position: relative;
}

.button-grow:hover {
  color: #111827;
  z-index: 2;
}

.button-grow:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 100%;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.button-grow:hover:after {
  z-index: -2;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button-left:after {
  right: 0;
  transform-origin: bottom left;
}

.button-left:hover:after {
  transform-origin: bottom right;
}

/* ---------------- Scrollbar styles ---------------- */

::-webkit-scrollbar {
  width: 7px;
  background-color: #111827;
}

::-webkit-scrollbar-track {
  border-radius: 100px;
  margin: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #ff9285;
}