@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #111827;
}

.link-grow {
  position: relative;
  outline: none;
}

.link-grow:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link-grow:focus:after, .link-grow:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button-grow {
  position: relative;
}

.button-grow:focus, .button-grow:hover {
  color: #111827;
  z-index: 2;
  outline: none;
}

.button-grow:after {
  outline: none;
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 100%;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.button-grow:focus:after, .button-grow:hover:after {
  z-index: -2;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button-left:after {
  right: 0;
  transform-origin: bottom left;
}

.button-left:focus:after, .button-left:hover:after {
  transform-origin: bottom right;
}

.tile {
  perspective: 1000px;
}

.tile.revealed .tile-inner {
  transform: rotateY(180deg);
}

.tile-inner {
  transform-style: preserve-3d;
}

.tile-front, .tile-back {
  backface-visibility: hidden;
}

.tile-back {
  transform: rotateY(180deg);
}

.tile-front img {
  width: 70%;
  opacity: 0.40;
  filter: brightness(100%) saturate(0%) ;
}

.tile-back img {
  width: 75%
}

/* ---------------- Scrollbar styles ---------------- */

::-webkit-scrollbar {
  width: 7px;
  background-color: #111827;
}

::-webkit-scrollbar-track {
  border-radius: 100px;
  margin: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #ff9285;
}