@tailwind base;
@tailwind components;
@tailwind utilities;


.wave:hover {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
	font-size: larger;
}

@keyframes wave-animation {
	0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}

.link-grow {
  position: relative;
}

.link-grow:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.card-group:hover :not(.repo-link:hover) .link-grow:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.link-grow:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button-grow {
  position: relative;
}
.button-grow:hover {
  color: #111827;
  z-index: 2;
}

.button-grow:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 100%;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.button-grow:hover:after {
  z-index: -2;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button-left:after {
  right: 0;
  transform-origin: bottom left;
}

.button-left:hover:after {
  transform-origin: bottom right;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #111827;
}

::-webkit-scrollbar-track {
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #ff9285 40%, #ff9285 100%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}